body {
	font-size: small;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }

table.data {
	border: 0px solid;
	border-spacing: 2px;
	border-collapse: separate;
}

table.data th, table.data td {
	padding: 2px;
}

table.data th.entered {
	border: 1px solid;
}
table.data th.calced {
	text-decoration: underline;
}

table.data th {
	background-color: #ddd;
}
table.data tr:nth-child(2n) {
	background-color: #eee;
}