{{/* This file defines our HTML layout named templates */}}

{{define "_head"}}<!DOCTYPE html>

<html>
<head>{{end}}

{{define "_body"}}
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>
<body>{{end}}

{{define "_tail"}}</body>
</html>
{{end}}