{{define "dash"}}{{template "_head"}}
	<title>Stocks - Dashboard</title>
	<script type="text/javascript" src="/static/dash.js"></script>
{{template "_body"}}
	<h1>Welcome, {{.User.Name}} &lt;{{.User.PrimaryEmail}}&gt;</h1>
	<div>
		Click <a href="/auth/logout">here</a> to log out.
	</div>
	<h2>Dashboard</h2>
	<div>
		<h3>Owned</h3>
		<div>
		{{if .Owned}}
			<table class="data">
				<thead>
					<tr>
						<th class="entered">Symbol</th>
						<th class="entered">Buy Date</th>
						<th class="entered">Buy Price</th>
						<th class="entered">Shares</th>
						<th class="entered">T-Stop %</th>
						<th class="calced">T-Stop Price</th>
						<th class="calced">50/200 SMA %</th>
						<th class="calced">Recent Time</th>
						<th class="calced">Recent Price</th>
						<th class="calced">Gain/Loss %</th>
						<th class="calced">Gain/Loss $</th>
						<th>notify</th>
						<th>remove</th>
					</tr>
				</thead>
				<tbody>
					{{range .Owned}}
					<tr>
						<td class="entered left"><a href="http://finviz.com/chart.ashx?t={{.Symbol}}&ty=c&ta=1&p=d&s=l" target="_blank">{{.Symbol}}</a></td>
						<td class="entered right">{{.BuyDate.Format "2006-01-02"}}</td>
						<td class="entered right">{{.BuyPrice.FloatString 2}}</td>
						<td class="entered right">{{.Shares}}</td>
						<td class="entered right">{{.TStopPercent.FloatString 2}}</td>
						<td class="calced right">{{.TStopPrice.FloatString 2}}</td>
						<td class="calced right">{{.SMAPercent | printf "%.2f"}}</td>
						<td class="calced right">{{.CurrHour.Format "2006-01-02 15:04"}}</td>
						<td class="calced right">{{.CurrPrice.FloatString 2}}</td>
						<td class="calced right">{{.GainLossPercent | printf "%.2f"}}</td>
						<td class="calced right">{{.GainLossDollar.FloatString 2}}</td>
						<td>{{if .IsEnabled}}<a href="javascript:disableOwned({{.OwnedID}});">disable</a>{{else}}<a href="javascript:enableOwned({{.OwnedID}});">enable</a>{{end}}</td>
						<td><a href="javascript:removeOwned({{.OwnedID}});">remove</a></td>
					</tr>
					{{end}}
				</tbody>
			</table>
		{{else}}
			No owned stocks.
		{{end}}
		</div>
		<div>
			<a href="/ui/owned/add">add stock</a>
		</div>
	</div>
	<div>
		<h3>Watching</h3>
		<div>
		{{if .Watched}}
			<table class="data">
				<thead>
					<tr>
						<th class="entered">Symbol</th>
						<th class="entered">Start Date</th>
						<th class="entered">Start Price</th>
						<th class="entered">T-Stop %</th>
						<th class="calced">T-Stop Price</th>
						<th class="calced">50/200 SMA %</th>
						<th class="calced">Recent Time</th>
						<th class="calced">Recent Price</th>
						<th>notify</th>
						<th>remove</th>
					</tr>
				</thead>
				<tbody>
					{{range .Watched}}
					<tr>
						<td class="entered left"><a href="http://finviz.com/chart.ashx?t={{.Symbol}}&ty=c&ta=1&p=d&s=l" target="_blank">{{.Symbol}}</a></td>
						<td class="entered right">{{.StartDate.Format "2006-01-02"}}</td>
						<td class="entered right">{{.StartPrice.FloatString 2}}</td>
						<td class="entered right">{{.TStopPercent.FloatString 2}}</td>
						<td class="calced right">{{.TStopPrice.FloatString 2}}</td>
						<td class="calced right">{{.SMAPercent | printf "%.2f"}}</td>
						<td class="calced right">{{.CurrHour.Format "2006-01-02 15:04"}}</td>
						<td class="calced right">{{.CurrPrice.FloatString 2}}</td>
						<td>{{if .IsEnabled}}<a href="javascript:disableWatched({{.WatchedID}});">disable</a>{{else}}<a href="javascript:enableWatched({{.WatchedID}});">enable</a>{{end}}</td>
						<td><a href="javascript:removeWatched({{.WatchedID}});">remove</a></td>
					</tr>
					{{end}}
				</tbody>
			</table>
		{{else}}
			No watched stocks.
		{{end}}
		</div>
		<div>
			<a href="/ui/watched/add">add stock</a>
		</div>
	</div>
{{template "_tail"}}{{end}}