{{define "dash"}}{{template "_head"}}
	Welcome, {{.User.Name}} &lt;{{.User.PrimaryEmail}}&gt;.<br>
	This is your dashboard.

	{{/* http://stockcharts.com/c-sc/sc?s=AAPL&p=D&b=5&g=0&i=t12529527186&r=1386119742619 */}}
{{template "_tail"}}{{end}}