
{{define "owned/add"}}{{template "_head"}}
	<title>Stocks - Add Owned Stock</title>
	<script type="text/javascript" src="/static/dash.js"></script>
{{template "_body"}}
	<h1>Welcome, {{.User.Name}} &lt;{{.User.PrimaryEmail}}&gt;</h1>
	<div>
		Click <a href="/auth/logout">here</a> to log out.
	</div>
	<h2>Dashboard - Add Owned Stock</h2>
	<div>
		<table>
			<tbody>
				<tr><td><label for="symbol">Symbol:</label></td><td><input type="text" id="symbol" value="MSFT"></td></tr>
				<tr><td><label for="buyDate">Buy Date:</label></td><td><input type="text" id="buyDate" value="2013-09-04"></td></tr>
				<tr><td><label for="buyPrice">Buy Price:</label></td><td><input type="text" id="buyPrice" value="30.00"></td></tr>
				<tr><td><label for="shares">Shares:</label></td><td><input type="text" id="shares" value="20"></td></tr>
				<tr><td><label for="stopPercent">T-Stop %:</label></td><td><input type="text" id="tstopPercent" value="25.00"></td></tr>
				<tr><td colspan="2"><button id="btnAdd">Add</button></td></tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
		bind("#btnAdd", "click", function(e) {
			e.preventDefault();

			var st = {
				Symbol: v("symbol"),
				BuyDate: v("buyDate"),
				BuyPrice: v("buyPrice"),
				Shares: tryParseInt(v("shares")),
				TStopPercent: v("tstopPercent"),
			};
			postJson('/api/stock/add', st, function (rsp) { reload("/ui/dash"); }, function(rsp) { alert(rsp); });

			return false;
		});
	</script>
{{template "_tail"}}{{end}}
