{{define "register"}}<!DOCTYPE html>

<html>
<head>
</head>
<body>
	Welcome, {{.User.Name}} &lt;{{.User.PrimaryEmail}}&gt;.<br>
	You are authenticated but you need to register as a user.
</body>
</html>
{{end}}