{{define "register"}}{{template "_head"}}
	<title>Stocks - Register</title>
{{template "_body"}}
	<h1>Welcome, {{.WebUser.FullName}} &lt;{{.WebUser.Email}}&gt;</h1>
	<div>
		Click <a href="/auth/logout">here</a> to log out.
	</div>
	<div>
		<form id="registerForm" action="/ui/register" method="POST">
			Click <a href="#" onclick="document.forms[0].submit();">here</a> to register.
		</form>
	</div>
{{template "_tail"}}{{end}}