
{{define "watched/add"}}{{template "_head"}}
	<title>Stocks - Add Watched Stock</title>
	<script type="text/javascript" src="/static/dash.js"></script>
{{template "_body"}}
	<h1>Welcome, {{.User.Name}} &lt;{{.User.PrimaryEmail}}&gt;</h1>
	<div>
		Click <a href="/auth/logout">here</a> to log out.
	</div>
	<h2>Dashboard - Add Watched Stock</h2>
	<div>
		<form action="/ui/watched/add" method="POST">
			<table>
				<tbody>
					<tr><td><label for="symbol">Symbol:</label></td><td><input type="text" name="symbol" value="MSFT"></td></tr>
					<tr><td><label for="buyDate">Buy Date:</label></td><td><input type="text" name="buyDate" value="2013-09-04"></td></tr>
					<tr><td><label for="buyPrice">Buy Price:</label></td><td><input type="text" name="buyPrice" value="30.00"></td></tr>
					<tr><td><label for="stopPercent">T-Stop Percent:</label></td><td><input type="text" name="stopPercent" value="25.00"></td></tr>
					<tr><td colspan="2"><input type="submit" value="submit"></td></tr>
				</tbody>
			</table>
		</form>
	</div>
{{template "_tail"}}{{end}}
